.head {
    background-color: #424141; /* Add some background color if needed */
    padding: 10px;
    position: relative;
    color: whitesmoke;
  }
  ul li{
    cursor: pointer;
  }
  ul li:hover{
    color: #d11313;
    font-weight: bolder;

  }
  .logo{
    color: white;
  }
  .links{
    text-decoration: none;
    color: whitesmoke;
  }

  .menuButton {
    display: none; /* Hidden by default */
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .logo:hover{
    color: #d11313;
    font-weight: bolder;
    cursor: pointer;
  }
  
  .headerList {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }
  
  .logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px; /* Add space between logos */
  }
  
  @media (max-width: 768px) {
    .menuButton {
      display: block; /* Show menu button on mobile */
    }
    ul li{
        cursor: pointer;
      }
      ul li:hover{
        color: #d11313;
        font-weight: bolder;
    
      }
      .logo{
        color: white;
      }
  
    .headerList {
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
      position: absolute;
      top: 50px;
      left: 0;
      width: 250px;
      height: 100vh;
      background-color: #424141;
      border: 1px solid #424141;
      display: none;
      font-weight: 400;
      font-size: 25px;
    }
  
    .headerList.open {
      display: flex; /* Show menu when open */
    }
  
    .headerList li {
      padding: 10px 20px;
      width: 100%;
    
    }
  }
  